{{ define "main" }}
	{{ $scratch := newScratch }}
	{{ if eq .Type "countries" }}
		{{ $scratch.Set "link" .Page.Title }}
	{{ else if eq .Type "categories" }}
		{{ $scratch.Set "link" .Page.Permalink }}
	{{ end }}
	{{ $link := $scratch.Get "link" }}


	{{ if .Site.Params.debug }}
		<span class="badge rounded-pill bg-dark">taxonomy.html</span>
	{{ end }}
    <div class="container">
		<div class="row">
			<div class="col">
				<h1>
					{{ .Title }} 
				</h1>
				<ul class="list-inline">
					{{ range .Data.Terms.Alphabetical }}					
						<li class="list-inline-item">
							<a
								{{ if eq $link "Countries" }}
									href="#{{ urlize .Page.Title }}"
								{{ else }}
									href="{{ .Page.Permalink }}"
								{{ end }}
								class="btn btn-primary position-relative">
								{{ upper  .Page.Title }} 
								<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
									{{ .Count }}
									<span class="visually-hidden">items</span>
								</span>
							</a>
						</li>
					{{ end }}
				</ul>
				{{ if eq $link "Countries" }}
						<ul class="list-inline">
							{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
								{{ $series_name := $name }}
								{{ $series_path := (printf "/categories/%s" (urlize $name)) }}
								{{ $series_page := $.Site.GetPage $series_path }}
								<li class="list-inline-item">
									{{ if $series_page }}
										{{ $series_name = $series_page.Title }}
									{{ end }}

									<a href="/categories/{{ $name }}" class="btn btn-outline-primary">{{ upper $name }}</a>
								</li>
							{{ end }}
						</ul>
					<hr>
				{{ else }}
					<ul class="list-inline">
						{{ range $name, $taxonomy := .Site.Taxonomies.countries }}
							{{ $series_name := $name }}
							{{ $series_path := (printf "/countries/%s" (urlize $name)) }}
							{{ $series_page := $.Site.GetPage $series_path }}
							<li class="list-inline-item">
								{{ if $series_page }}
									{{ $series_name = $series_page.Title }}
								{{ end }}
								<a href="#{{ urlize $name }}" class="btn btn-outline-primary">{{ upper $name }}</a>
							</li>
							{{ range .Pages.GroupByParam "regions" }}
								{{ $name := .Key }}
								
								{{ range .Pages }}
									{{ $scratch.Set "country" .Params.countries }}
								{{ end }}
								{{ $country := $scratch.Get "country" }}

								{{ if .Key }}
									<li class="list-inline-item">
										<a href="#{{ urlize $name }}" class="btn btn-outline-primary">
											{{ $country }} - {{ $name }}
										</a>
									</li>
								{{ end }}
							{{ end }}
						{{ end }}
					</ul>
					<hr>
				{{ end }}
				<ul>
					{{ range $name, $taxonomy := .Site.Taxonomies.countries }}
						{{ $series_name := $name }}
						{{ $series_path := (printf "/countries/%s" (urlize $name)) }}
						{{ $series_page := $.Site.GetPage $series_path }}
						<li>
							{{ if $series_page }}
								{{ $series_name = $series_page.Title }}
							{{ end }}
							<h2 id="{{ urlize $name }}">
								{{ upper  $name }}
							</h2>
							{{/*
								<ul>
									{{ range $taxonomy.Pages }}
										{{ partial "entry-card.html" . }}
									{{ end }}
								</ul>
							*/}}

							{{ range .Pages.GroupByParam "regions" }}
								{{ if .Key }}
									{{ range .Pages }}
										{{ $scratch.Set "country" .Params.countries }}
									{{ end }}
									{{ $country := $scratch.Get "country" }}
									<h4  id="{{ urlize .Key }}">{{ $country }} - {{ .Key }}</h4>
								{{ end }}
								<ul>
									{{ range .Pages }}
										{{ partial "entry-card.html" . }}
									{{ end }}
								</ul>
							{{ end }}
						</li>
					{{ end }}
				</ul>
				
				{{/*
					<ul>
						{{ range $key, $taxonomy := .Site.Taxonomies.countries }}
							<li>
								<a href="/countries/{{ $key }}">
									<h2>
										{{ $key }}
	
										{{ range .Pages }}
											{{ . }}
										{{ end }}
									</h2>
								</a>
							</li>
						{{ end }}
					</ul>
				*/}}
				{{ .Content }}
			</div>
		</div>
	</div>
{{ end }}