<form>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
                <label for="floatingInputEmail">Email address</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="Title" class="form-control" id="floatingInputTitle" placeholder="Mr.">
                <label for="floatingInputTitle">Title</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="name" class="form-control" id="floatingInputName" placeholder="Name">
                <label for="floatingInputName">Name</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="prename" class="form-control" id="floatingInputPrename" placeholder="prename">
                <label for="floatingInputPrename">Prename</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="phone" class="form-control" id="floatingInputPhone" placeholder="phone">
                <label for="floatingInputPhone">Phone</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="fax" class="form-control" id="floatingInputFax" placeholder="fax">
                <label for="floatingInputFax">Fax</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="addressFirstLine" class="form-control" id="floatingInputAddressFirstLine" placeholder="addressFirstLine">
                <label for="floatingInputAddressFirstLine">Address line 1</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="addressSecondLine" class="form-control" id="floatingInputAddressSecondLine" placeholder="addressSecondLine">
                <label for="floatingInputAddressSecondLine">Address line 2</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="website" class="form-control" id="floatingInput" placeholder="website">
                <label for="floatingInput">Website</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option selected>Select Country</option>
                    <option value="1">Afghanistan - AF</option>
                    <option value="1">Aland Islands - AX</option>
                    <option value="1">Albania - AL</option>
                    <option value="1">Algeria - DZ</option>
                    <option value="1">American Samoa - AS</option>
                    <option value="1">Andorra - AD</option>
                    <option value="1">Angola - AO</option>
                    <option value="1">Anguilla - AI</option>
                    <option value="1">Antarctica - AQ</option>
                    <option value="1">Antigua and Barbuda - AG</option>
                    <option value="1">Argentina - AR</option>
                    <option value="1">Armenia - AM</option>
                    <option value="1">Aruba - AW</option>
                    <option value="1">Australia - AU</option>
                    <option value="1">Austria - AT</option>
                    <option value="1">Azerbaijan - AZ</option>
                    <option value="1">Bahamas - BS</option>
                    <option value="1">Bahrain - BH</option>
                    <option value="1">Bangladesh - BD</option>
                    <option value="1">Barbados - BB</option>
                    <option value="1">Belarus - BY</option>
                    <option value="1">Belgium - BE</option>
                    <option value="1">Belize - BZ</option>
                    <option value="1">Benin - BJ</option>
                    <option value="1">Bermuda - BM</option>
                    <option value="1">Bhutan - BT</option>
                    <option value="1">Bolivia - BO</option>
                    <option value="1">Bonaire, Saint Eustatius and Saba " - BQ</option>
                    <option value="1">Bosnia and Herzegovina - BA</option>
                    <option value="1">Botswana - BW</option>
                    <option value="1">Bouvet Island - BV</option>
                    <option value="1">Brazil - BR</option>
                    <option value="1">British Indian Ocean Territory - IO</option>
                    <option value="1">British Virgin Islands - VG</option>
                    <option value="1">Brunei - BN</option>
                    <option value="1">Bulgaria - BG</option>
                    <option value="1">Burkina Faso - BF</option>
                    <option value="1">Burundi - BI</option>
                    <option value="1">Cambodia - KH</option>
                    <option value="1">Cameroon - CM</option>
                    <option value="1">Canada - CA</option>
                    <option value="1">Cape Verde - CV</option>
                    <option value="1">Cayman Islands - KY</option>
                    <option value="1">Central African Republic - CF</option>
                    <option value="1">Chad - TD</option>
                    <option value="1">Chile - CL</option>
                    <option value="1">China - CN</option>
                    <option value="1">Christmas Island - CX</option>
                    <option value="1">Cocos Islands - CC</option>
                    <option value="1">Colombia - CO</option>
                    <option value="1">Comoros - KM</option>
                    <option value="1">Cook Islands - CK</option>
                    <option value="1">Costa Rica - CR</option>
                    <option value="1">Croatia - HR</option>
                    <option value="1">Cuba - CU</option>
                    <option value="1">Curacao - CW</option>
                    <option value="1">Cyprus - CY</option>
                    <option value="1">Czech Republic - CZ</option>
                    <option value="1">Democratic Republic of the Congo - CD</option>
                    <option value="1">Denmark - DK</option>
                    <option value="1">Djibouti - DJ</option>
                    <option value="1">Dominica - DM</option>
                    <option value="1">Dominican Republic - DO</option>
                    <option value="1">East Timor - TL</option>
                    <option value="1">Ecuador - EC</option>
                    <option value="1">Egypt - EG</option>
                    <option value="1">El Salvador - SV</option>
                    <option value="1">Equatorial Guinea - GQ</option>
                    <option value="1">Eritrea - ER</option>
                    <option value="1">Estonia - EE</option>
                    <option value="1">Ethiopia - ET</option>
                    <option value="1">Falkland Islands - FK</option>
                    <option value="1">Faroe Islands - FO</option>
                    <option value="1">Fiji - FJ</option>
                    <option value="1">Finland - FI</option>
                    <option value="1">France - FR</option>
                    <option value="1">French Guiana - GF</option>
                    <option value="1">French Polynesia - PF</option>
                    <option value="1">French Southern Territories - TF</option>
                    <option value="1">Gabon - GA</option>
                    <option value="1">Gambia - GM</option>
                    <option value="1">Georgia - GE</option>
                    <option value="1">Germany - DE</option>
                    <option value="1">Ghana - GH</option>
                    <option value="1">Gibraltar - GI</option>
                    <option value="1">Greece - GR</option>
                    <option value="1">Greenland - GL</option>
                    <option value="1">Grenada - GD</option>
                    <option value="1">Guadeloupe - GP</option>
                    <option value="1">Guam - GU</option>
                    <option value="1">Guatemala - GT</option>
                    <option value="1">Guernsey - GG</option>
                    <option value="1">Guinea - GN</option>
                    <option value="1">Guinea-Bissau - GW</option>
                    <option value="1">Guyana - GY</option>
                    <option value="1">Haiti - HT</option>
                    <option value="1">Heard Island and McDonald Islands - HM</option>
                    <option value="1">Honduras - HN</option>
                    <option value="1">Hong Kong - HK</option>
                    <option value="1">Hungary - HU</option>
                    <option value="1">Iceland - IS</option>
                    <option value="1">India - IN</option>
                    <option value="1">Indonesia - ID</option>
                    <option value="1">Iran - IR</option>
                    <option value="1">Iraq - IQ</option>
                    <option value="1">Ireland - IE</option>
                    <option value="1">Isle of Man - IM</option>
                    <option value="1">Israel - IL</option>
                    <option value="1">Italy - IT</option>
                    <option value="1">Ivory Coast - CI</option>
                    <option value="1">Jamaica - JM</option>
                    <option value="1">Japan - JP</option>
                    <option value="1">Jersey - JE</option>
                    <option value="1">Jordan - JO</option>
                    <option value="1">Kazakhstan - KZ</option>
                    <option value="1">Kenya - KE</option>
                    <option value="1">Kiribati - KI</option>
                    <option value="1">Kosovo - XK</option>
                    <option value="1">Kuwait - KW</option>
                    <option value="1">Kyrgyzstan - KG</option>
                    <option value="1">Laos - LA</option>
                    <option value="1">Latvia - LV</option>
                    <option value="1">Lebanon - LB</option>
                    <option value="1">Lesotho - LS</option>
                    <option value="1">Liberia - LR</option>
                    <option value="1">Libya - LY</option>
                    <option value="1">Liechtenstein - LI</option>
                    <option value="1">Lithuania - LT</option>
                    <option value="1">Luxembourg - LU</option>
                    <option value="1">Macao - MO</option>
                    <option value="1">Macedonia - MK</option>
                    <option value="1">Madagascar - MG</option>
                    <option value="1">Malawi - MW</option>
                    <option value="1">Malaysia - MY</option>
                    <option value="1">Maldives - MV</option>
                    <option value="1">Mali - ML</option>
                    <option value="1">Malta - MT</option>
                    <option value="1">Marshall Islands - MH</option>
                    <option value="1">Martinique - MQ</option>
                    <option value="1">Mauritania - MR</option>
                    <option value="1">Mauritius - MU</option>
                    <option value="1">Mayotte - YT</option>
                    <option value="1">Mexico - MX</option>
                    <option value="1">Micronesia - FM</option>
                    <option value="1">Moldova - MD</option>
                    <option value="1">Monaco - MC</option>
                    <option value="1">Mongolia - MN</option>
                    <option value="1">Montenegro - ME</option>
                    <option value="1">Montserrat - MS</option>
                    <option value="1">Morocco - MA</option>
                    <option value="1">Mozambique - MZ</option>
                    <option value="1">Myanmar - MM</option>
                    <option value="1">Namibia - NA</option>
                    <option value="1">Nauru - NR</option>
                    <option value="1">Nepal - NP</option>
                    <option value="1">Netherlands - NL</option>
                    <option value="1">Netherlands Antilles - AN</option>
                    <option value="1">New Caledonia - NC</option>
                    <option value="1">New Zealand - NZ</option>
                    <option value="1">Nicaragua - NI</option>
                    <option value="1">Niger - NE</option>
                    <option value="1">Nigeria - NG</option>
                    <option value="1">Niue - NU</option>
                    <option value="1">Norfolk Island - NF</option>
                    <option value="1">North Korea - KP</option>
                    <option value="1">Northern Mariana Islands - MP</option>
                    <option value="1">Norway - NO</option>
                    <option value="1">Oman - OM</option>
                    <option value="1">Pakistan - PK</option>
                    <option value="1">Palau - PW</option>
                    <option value="1">Palestinian Territory - PS</option>
                    <option value="1">Panama - PA</option>
                    <option value="1">Papua New Guinea - PG</option>
                    <option value="1">Paraguay - PY</option>
                    <option value="1">Peru - PE</option>
                    <option value="1">Philippines - PH</option>
                    <option value="1">Pitcairn - PN</option>
                    <option value="1">Poland - PL</option>
                    <option value="1">Portugal - PT</option>
                    <option value="1">Puerto Rico - PR</option>
                    <option value="1">Qatar - QA</option>
                    <option value="1">Republic of the Congo - CG</option>
                    <option value="1">Reunion - RE</option>
                    <option value="1">Romania - RO</option>
                    <option value="1">Russia - RU</option>
                    <option value="1">Rwanda - RW</option>
                    <option value="1">Saint Barthelemy - BL</option>
                    <option value="1">Saint Helena - SH</option>
                    <option value="1">Saint Kitts and Nevis - KN</option>
                    <option value="1">Saint Lucia - LC</option>
                    <option value="1">Saint Martin - MF</option>
                    <option value="1">Saint Pierre and Miquelon - PM</option>
                    <option value="1">Saint Vincent and the Grenadines - VC</option>
                    <option value="1">Samoa - WS</option>
                    <option value="1">San Marino - SM</option>
                    <option value="1">Sao Tome and Principe - ST</option>
                    <option value="1">Saudi Arabia - SA</option>
                    <option value="1">Senegal - SN</option>
                    <option value="1">Serbia - RS</option>
                    <option value="1">Serbia and Montenegro - CS</option>
                    <option value="1">Seychelles - SC</option>
                    <option value="1">Sierra Leone - SL</option>
                    <option value="1">Singapore - SG</option>
                    <option value="1">Sint Maarten - SX</option>
                    <option value="1">Slovakia - SK</option>
                    <option value="1">Slovenia - SI</option>
                    <option value="1">Solomon Islands - SB</option>
                    <option value="1">Somalia - SO</option>
                    <option value="1">South Africa - ZA</option>
                    <option value="1">South Georgia and the South Sandwich Islands - GS</option>
                    <option value="1">South Korea - KR</option>
                    <option value="1">South Sudan - SS</option>
                    <option value="1">Spain - ES</option>
                    <option value="1">Sri Lanka - LK</option>
                    <option value="1">Sudan - SD</option>
                    <option value="1">Suriname - SR</option>
                    <option value="1">Svalbard and Jan Mayen - SJ</option>
                    <option value="1">Swaziland - SZ</option>
                    <option value="1">Sweden - SE</option>
                    <option value="1">Switzerland - CH</option>
                    <option value="1">Syria - SY</option>
                    <option value="1">Taiwan - TW</option>
                    <option value="1">Tajikistan - TJ</option>
                    <option value="1">Tanzania - TZ</option>
                    <option value="1">Thailand - TH</option>
                    <option value="1">Togo - TG</option>
                    <option value="1">Tokelau - TK</option>
                    <option value="1">Tonga - TO</option>
                    <option value="1">Trinidad and Tobago - TT</option>
                    <option value="1">Tunisia - TN</option>
                    <option value="1">Turkey - TR</option>
                    <option value="1">Turkmenistan - TM</option>
                    <option value="1">Turks and Caicos Islands - TC</option>
                    <option value="1">Tuvalu - TV</option>
                    <option value="1">U.S. Virgin Islands - VI</option>
                    <option value="1">Uganda - UG</option>
                    <option value="1">Ukraine - UA</option>
                    <option value="1">United Arab Emirates - AE</option>
                    <option value="1">United Kingdom - GB</option>
                    <option value="1">United Kingdom - UK</option>
                    <option value="1">United States - US</option>
                    <option value="1">United States Minor Outlying Islands - UM</option>
                    <option value="1">Uruguay - UY</option>
                    <option value="1">Uzbekistan - UZ</option>
                    <option value="1">Vanuatu - VU</option>
                    <option value="1">Vatican - VA</option>
                    <option value="1">Venezuela - VE</option>
                    <option value="1">Vietnam - VN</option>
                    <option value="1">Wallis and Futuna - WF</option>
                    <option value="1">Western Sahara - EH</option>
                    <option value="1">Yemen - YE</option>
                    <option value="1">Zambia - ZM</option>
                    <option value="1">Zimbabwe - ZW</option>
                    <option value="1">International</option>
                </select>
                <label for="floatingSelectGrid">Select country</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Let us now about fees" id="floatingTextareaFees" style="height: 200px"></textarea>
                <label for="floatingTextareaFees">Let us now about fees</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="description" id="floatingTextareaDescription" style="height: 200px"></textarea>
                <label for="floatingTextareaDescription">Description</label>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
   
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I agree with Terms and conditions</label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>